.dccache
*.class
*.log
Backend/scala-backend/.gitignore
.metals/metals.lock.db
.metals/metals.h2.db
.vscode
project/target
target
.scalafmt.conf
.metals
project/.bloop/
.bloop
project/metals.sbt
project/project/metals.sbt
project/build.properties
Backend/scala-backend/.env
.DS_Store
Backend/database/database/
