<div class="card">
    <div class="card-body">
        <H2>Wie geht es weiter?</H2>
        <p>
        Senden Sie den folgenden Link oder QR-Code den Schüler:innen. Den Link können Sie z.B. in eine Email kopieren und allen Schüler:innen bzw. Eltern schicken. Sie können auch diese Seite ausdrucken und als Kopie verteilen. 
        </p>

        <div class="alert alert-secondary" role="alert">
            <H5>Umfrage zu Kontakten für die Klasse '{{schoolClass.name()}}'</H5>
            Jeder Schüler oder Schülerin kann die folgende URL aufrufen und dort seine/ihre Kontakte eintragen.
            <p><a href="http://{{studentUrl}}">{{studentUrl}}</a></p>
            <qrcode [qrdata]="studentURLhttp" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div *ngIf="showDemoDataButton" class="alert alert-info">
            <H4>Schulklasse mit Beispieldaten befüllen</H4>
            <p>
            Falls Sie unser Tool nur ausprobieren wollen, können Sie hier Beispieldaten generieren. Dann wird simuliert, dass sich Schüler:innen in der Umfrage eintragen. 
            </p>
            <button class='btn btn-secondary' (click)="submitSampleData()" [disabled]="submittingDemo"> 
                <span [hidden]="!submittingDemo" class="spinner-border spinner-border-sm mr-3" role="status"></span>
                Jetzt Beispieldaten generieren</button>
        </div>
        <div>
        <H4> Übersicht</H4>
        <p>Bisher haben <mark>{{nSignupsObsStream | async}}</mark> Schüler:innen an der Umfrage teilgenommen. </p>

        <p>
            Sobald alle Schüler:innen an der Umfrage teilgenommen haben, können sie die Umfrage schließen. Dann kann sich niemand mehr eintragen und sie gelangen zum nächsten Schritt. Dort können Sie fehlerhafte Einträge korrigieren und sich das Ergebnis anzeigen lassen. 
        </p>
        <p>
            Wenn nötig, kann die Umfrage auch wieder geöffnet werden. 
        </p>
        <button class="btn btn-warning" (click)="closeSurvey()">Umfrage schließen!</button>
        </div>
    </div>
</div>