/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 923px !important; /* or 950px */
  }

/* .teacher .card { */
    /* background-color: red; */
/* } */

