
<footer class="footer mt-auto py-3 bg-light">
  <div class="container container-fluid">
    <span class="text-muted">
      <ul class="list-inline d-flex flex-row justify-content-between mb-0">
        <li class="list-inline-item">
          <a [routerLink]="['/']">Startseite</a>
        </li>
        <li class="list-inline-item">
          <a [routerLink]="['/about']">Über uns</a>
        </li>
        <li class="list-inline-item">
          <a [routerLink]="['/datenschutz']">Datenschutz</a>
        </li>
        <li class="list-inline-item">
          <a [routerLink]="['/impressum']">Impressum</a>
        </li>
        <li class="list-inline-item">
          <a href="{{gitURL}}">GitHub</a>
        </li>
      </ul>
    </span>
  </div>
</footer>
