
<footer class="footer mt-auto py-3 bg-light">
  <div class="container container-fluid">
    <span class="text-muted">
      <!-- flex-col normaly it is a column, from devices sm onwards flex-sm-row is a row -->
      <ul class="list-inline d-flex flex-sm-row flex-column text-center justify-content-between mb-0">
        <li class="list-inline-item">
          <a href="/">Startseite</a>
        </li>
        <li class="list-inline-item">
          <a href="/about">Über uns</a>
        </li>
        <li class="list-inline-item">
          <a href="/datenschutz">Datenschutz</a>
        </li>
        <li class="list-inline-item">
          <a href="/impressum">Impressum</a>
        </li>
        <li class="list-inline-item">
          <a href="{{gitURL}}">GitHub</a>
        </li>
      </ul>
    </span>
  </div>
</footer>
