
<div class="container container-fluid">
    <H1>Lehreransicht: <mark>{{schoolClass.name()}} </mark></H1>


    <div class="card">
        <div *ngIf="classTeacher === null" class="card-body">
          Sie sind noch nicht authentifiziert. Bitte Geben sie den 8-stelligen Code für diese Klasse ein:
          <form class = "form mt-2" >
            <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label class="col-form-label">Klassencode:</label>
            </div>
            <div class="col-auto">
              <input #teacherPassword placeholder="z.B. aBcD1eF2" type="text" class='form-control'>
            </div>
            <div class="col-auto">
              <button type='button' class="btn btn-primary btn-sm" (click)="authenticateTeacher(teacherPassword.value)">Bestätigen </button>
            </div>
          </div>
          </form>
        </div>
        <div *ngIf="classTeacher !== null" class="card-body">
          Authentifiziert. 
        </div>
     </div>

     <div id="teacher-dashboard" *ngIf="classTeacher !== null">
      <app-survey-open *ngIf="schoolClass.surveyStatus === SchoolClassSurveyStatusLocal.open" [schoolClass]="schoolClass" [classTeacher]="classTeacher"></app-survey-open>
      <app-teacher-clean-up *ngIf="schoolClass.surveyStatus === SchoolClassSurveyStatusLocal.closed" [schoolClass]="schoolClass" [classTeacher]="classTeacher"></app-teacher-clean-up>
      <app-waiting-for-result *ngIf="schoolClass.surveyStatus === SchoolClassSurveyStatusLocal.calculating" [schoolClass]="schoolClass" [classTeacher]="classTeacher"></app-waiting-for-result>
      <app-results *ngIf="schoolClass.surveyStatus === SchoolClassSurveyStatusLocal.done" [schoolClass]="schoolClass" [classTeacher]="classTeacher"></app-results>
    </div>

</div>
<!-- {{schoolClass.className}} -->