
<ul class="list-group" *ngFor="let thisStudent of classList; index as index">
    <app-student-detail 
    [studentEntity]="thisStudent" 
    [currentClassListNames] = "currentClassListNames"
    [originalNamesChecker] = "originalNamesChecker"
    (shouldBeDeleted)="delete(index)" 
    (classListChanged)="triggerClassListChanged()"></app-student-detail>
</ul>

<div class='row mt-3'>
    <div class='col-sm'>
    <input [formControl]="newStudentControl" type='text' class="form-control" 
    [class.is-invalid]="newStudentControl.invalid && (newStudentControl.touched || newStudentControl.dirty)">
    <div class="invalid-feedback">
        Dieser Name ist bereits in der Klassenliste. 
    </div>
    </div>
    <div class='col-sm'>
        <button (click)="add()" class="btn btn-success">Hinzufügen</button>
    </div>
</div>