

<div class="card" *ngIf = "(classList === null) || (friendRstudents === null)">
  <div class ="card-body">
  Ihr Browser entschlüsselt gerade die Namen der Schüler:innen. Das kann ein bisschen dauern. 

  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
    </div>
  </div>
</div>
</div>

<div class="card" *ngIf = "(classList !== null) && (friendRstudents !== null)">
    <div class="card-body" id="main-body">
          <div>
            <button class='btn btn-link' (click)="reopenSurvey()">Umfrage wieder öffnen</button> 
          </div>

          <p>
            Es kann sein, dass Schüler:innen Namen falsch geschrieben haben oder vergessen haben sich einzutragen. Hier haben Sie die Möglichkeit solche Fehler zu korrigieren bevor der Algorithmus ausgeführt wird. Dies passiert in drei Schritten:
          </p>
        
          <div class="card">
            <div class='card-header'>


          <ul ngbNav #nav="ngbNav" [(activeId)]="activeStep" class="nav nav-tabs card-header-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink>1) Klassenliste Korrigieren</a>
              <ng-template ngbNavContent>
                <app-correct-classlist 
                [classList]="classList" 
                [currentClassListNames] = "currentClassListNames"
                [originalClassListNames] = "originalClassListNames"
                (classListChanged)="saveClassList()"
                (sortLastNamesEvent)="inplaceSortClassList()"
                ></app-correct-classlist>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>2) Namen Zuordnen</a>
              <ng-template ngbNavContent>
                  <app-match-students 
                    [friendReportedList]="friendRstudents" 
                    [classList]="currentClassListNames"
                    (friendReportedChanged)="saveFriendReportedMatching()"
                    >
                  </app-match-students>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>3) Abschicken</a>
              <ng-template ngbNavContent>
                <app-summary 
                [classList]="classList" 
                [friendReportedList]="friendRstudents"
                [schoolClass]="schoolClass"
                [classTeacher]="classTeacher"
                ></app-summary>
              </ng-template>
            </li>
          </ul>
            </div>

          <div [ngbNavOutlet]="nav" class="card-body p-3" id="tab-outlet"></div>

          </div>

          <div class='mt-3 row'>
          <div class="d-flex justify-content-between">
                <button class='btn btn-primary' (click)="prevStep()" [disabled]="activeStep===1">Zurück</button>
                <button class='btn btn-primary' (click)="nextStep()" [disabled]="activeStep===lastStep">Weiter</button>
          </div>
          </div>
          <!-- <div class='row mt-5'>
              <div class='col'>
                </div>
              <div class='col text-right'>
                </div>
          </div> -->

    </div>
</div>