<li class="list-group-item"
 [class.list-group-item-warning]="studentEntity.changed"
 [class.list-group-item-danger]="studentEntity.deleted"
 [class.list-group-item-info]="studentEntity.teacherAdded"
 >
    <div class='row' id="{{studentEntity.uniqueID}}">
         <div class='col-sm'>
             <span *ngIf="!editMode">
                 <span *ngIf="studentEntity.changed || studentEntity.deleted">
                     <s>{{studentEntity.recoverName}}</s>
                </span>
                 <span *ngIf="!studentEntity.deleted">
                     {{ studentEntity.name }}
                </span>
            </span>
             <span *ngIf="editMode">
                 <input [formControl]="formControl" class='form-control'
                 [class.is-invalid]="formControl.invalid && (formControl.touched || formControl.dirty)"
                 placeholder="{{studentEntity.name}}" 
                 (blur)="save()" (keyup.enter)="save()" autofocus>
                 <div *ngIf="formControl.invalid "  class="invalid-feedback">
                    <span 
                    *ngIf="formControl.errors!.forbiddenName && !(formControl.errors!.forbiddenName.name === studentEntity.name) ">
                    Dieser Name kommt bereits vor.</span>
                    <!-- note the exclamation mark after errors in the line above, I am a bit confused about it -->
                </div>
             </span>
         </div>
         <div class='col-sm'>
             <button (click)="toggleEdit()" class='btn btn-outline-info' [class.active]="editMode" [disabled]="studentEntity.deleted">
                <svg class="bi" width="22" height="22" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#pencil-square"/>
                </svg>
             </button>
             <!-- <button *ngIf="editMode"  (click)="save()"> save</button> -->


             <button (click)="delete()" class='btn btn-danger' [disabled]="studentEntity.deleted"> 
                <svg class="bi" width="22" height="22" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#trash"/>
                </svg>
             </button>

             <button (click)="recover()" class='btn btn-success' [disabled]="!studentEntity.recoverable" 
             [@undoFocusedTrigger]="undoFocusedFlag ? 'focused' : 'normal' " (@undoFocusedTrigger.done)="animationEnd($event)"> 
                <svg class="bi" width="22" height="22" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#arrow-counterclockwise"/>
                </svg>
             </button>
         </div>
     </div>   
 </li>