<div class='container container-fluid mt-4'>
    <H1>Schulklassen sinnvoll aufteilen gegen Corona!</H1>
    <div class="alert alert-warning" role="alert" *ngIf="news !== ''">
        {{news}}
    </div>

    <div class="d-flex justify-content-center mb-3 mt-1">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ru3nemEsM6w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <p>In der aktuellen Corona-Pandemie stellen auch Schulklassen ein Infektionsrisiko dar. Dieses kann verringert werden, indem abwechselnd immer nur die halbe Schulklasse Präsenzunterricht hat. Eine zufällige Aufteilung der Klasse beachtet jedoch nicht Freizeitkontakte oder Kontakte durch z.B. gemeinsame Wahlkurse. In einer <a href="https://www.medrxiv.org/content/10.1101/2020.11.30.20241166v1">Simulationsstudie</a> konnte gezeigt werden, dass die Minimierung von Kontakten zwischen den Gruppen die Infektionen von einer zur anderen Gruppe um durchschnittlich 79% reduzieren kann.</p>
    <p> 
        Mit diesem Online-Tool wollen wir es ermöglichen, eine Schulklasse hinsichtlich dieser Kontakte optimal aufzuteilen. Die Lehrkraft kann eine neue Schulklasse (mit dem Button unten) erstellen und erhält einen personalisierten Klassenlink, den er oder sie den Schüler:innen zur Verfügung stellt. Diese klicken auf den Link und tragen ihren eigenen Namen, sowie den Namen von bis zu {{nFriends}} Mitschüler:innen ein. Sobald sich alle eingetragen haben, beendet die Lehrkraft die Umfrage und unser Algorithmus berechnet die optimale Aufteilung der Klasse. Dabei achten wir auf Datenschutz und speichern nur Pseudonyme der Schüler:innen. Einzig die Lehrkraft kann am Ende einsehen, welche Schüler:innen sich eingetragen haben - jedoch nicht welche Kontakte jeweils angegeben wurden. Nachdem die Lehrkraft das Zeitfenster zum Eintragen für die Schüler:innen geschlossen hat, bekommt sie eine möglichst optimale Aufteilung ihrer Klasse angezeigt.
    </p>
    <div class='d-flex justify-content-center'>
    <a routerLink="create" class='btn btn-primary btn-lg'>Jetzt eine neue Klasse erstellen</a>
    </div>

    <H2 class="mt-3">Weitere Anwendungen</H2>
    <p>
        Bei unserer App tragen die Schüler:innen ihre Kontakte direkt auf Klassenteiler.de selbst ein, ohne dass die Lehrkraft Einsicht in diese Daten bekommt.
Eine Zentralisierte Aufteilung von Schulklassen ist hingegen mit zwei anderen Programmen möglich. Hier sammelt die Lehrkraft zuerst alle Kontakte der Schüler:innen und gibt diese dann selbst in das Programm ein. 
    </p>
    <ul>
        <li>
            <a href="https://dividi.app">dividi.app</a> erlaubt dabei auch die Aufteilung in mehr als 2 Gruppen.
        </li>
        <li>
            <a href="https://www.rulemaker.de/aufteilung.html">rulemaker.de/aufteilung.html</a> ermöglicht sogar die Aufteilung ganzer Jahrgänge oder Schulen inklusive klassenübergreifender Kurse. 
            Dieses Tool kann auch auf der Seite <a href="https://www.lehrerfreund.de/gruppenrechner/verteilerkurs">lehrerfreund.de</a> in einer mobile- und Drucker-freundlichen Version benutzt werden.
        </li>
    </ul>
</div>
