<div class='container container-fluid mt-4'>
    <H1>Schulklassen sinnvoll aufteilen gegen Corona!</H1>
    <div class="alert alert-warning" role="alert" *ngIf="news !== ''">
        {{news}}
    </div>
    <p>In der aktuellen Corona-Pandemie stellen auch Schulklassen ein Infektionsrisiko dar. Dieses kann verringert werden, indem abwechselnd immer nur die halbe Schulklasse Präsenzunterricht hat. Eine zufällige Aufteilung der Klasse bachtet jedoch nicht Freizeitkontakte oder Kontakte durch z.B. gemeinsame Wahlkurse. In einer <a href="https://www.medrxiv.org/content/10.1101/2020.11.30.20241166v1">Simulationsstudie</a> konnte gezeigt werden, dass die Minimierung von Kontakten zwischen den Gruppen die Infektionen von einer zur anderen Gruppe um durchschnittlich 79% reduzieren kann.</p>
    <p> 
        Mit diesem Online-Tool wollen wir es ermöglichen, eine Schulklasse hinsichtlich dieser Kontakte optimal aufzuteilen. Die Lehrkraft kann eine neue Schulklasse (mit dem Button unten) erstellen und erhält einen personalisierten Klassenlink den er oder sie den Schüler:innen zur Verfügung stellt. Diese klicken auf den Link und tragen ihren eigenen Namen, sowie den Namen von bis zu {{nFriends}} Mitschüler:innen ein. Sobald sich alle eingetragen haben, beendet die Lehrkraft die Umfrage und unser Algorithmus berechnet die optimale Aufteilung der Klasse. Dabei achten wir auf Datenschutz und speichern nur Pseudonyme der Schüler:innen. Einzig die Lehrkraft kann am Ende einsehen, welche Schüler:innen sich eingetragen haben - jedoch nicht welche Kontakte jeweils angegeben wurden. Nachdem die Lehrkraft das Zeitfenster zum Eintragen für die Schüler:innen geschlossen hat, bekommt sie eine möglichst optimale Aufteilung ihrer Klasse angezeigt.
    </p>
<a routerLink="create" class='btn btn-primary'>Jetzt eine neue Klasse erstellen</a>
</div>
