<div class="container container-fluid teacher">
  <div class="card mx-auto mt-3" *ngIf="!classIsCreated">
    <div class="card-title mx-auto">
      <H2>Neue Schulklasse erstellen</H2>
    </div>
    <div id="classDetailsForm" class="card-body">
      <fieldset [disabled]="!formIsOpen">
        <form>
          <div class="form-group">
            <label for="inputSchoolName">Wie heißt Ihre Schule?</label>
            <input #inputSchoolName type="text" class="form-control" id="inputSchoolName"
              placeholder="z.b. Albertus Magnus Gymnasium">
          </div>
          <div class="form-group mt-1 mb-1">
            <label for="inputClassName">Wie heißt die Klasse?</label>
            <input #inputClassName type="text" class="form-control" id="inputClassName" placeholder="z.b. 9a">
          </div>
        </form>
      </fieldset>
      <button class="btn btn-primary" type="submit" [disabled]="!formIsOpen"
        (click)="createClass(inputSchoolName.value, inputClassName.value)">
        <span [hidden]="!creatingClass" class="spinner-border spinner-border-sm mr-3" role="status"></span>
        {{buttonText}}
      </button>
    </div>
  </div>
  <div id="created-overview" class="card mt-3 text-center"
    *ngIf="classIsCreated">
    <div class="card-title mx-auto">
      <H2>Zugangsdaten</H2>
    </div>
    <div class="card-body">

      Die Schulklasse <mark>{{generatedSchoolClass!.name()}}</mark>wurde erfolgreich erstellt. Bitte schreiben Sie sich
      das folgende Klassenpasswort unbedingt auf. <br />
      <div class="mt-2">
        <div id="passwordDisplay" class="alert alert-danger mx-auto" role="alert">
          {{password}}
        </div>
      </div>

      Mit dem Klassenpasswort können Sie sich unter folgendem Link einloggen:
      <div class="mt-2">
        <a href="http://{{getTeacherViewLink(true)}}">
          <div id="linkDisplay" class="alert alert-success mx-auto" role="alert">
            {{getTeacherViewLink(true)}}
          </div>
        </a>
      </div>

      Das Klassenpasswort kann nicht wiederhergestellt werden. Schreiben Sie es also unbedingt auf.

      Eine Übersicht über die Zugangsdaten können Sie auch als PDF herunterladen.
      <div class="row text-center">
        <div class="col-sm">
          <button class="btn btn-primary mt-2" (click)="savePDFsummary()"> PDF speichern</button>
        </div>
        <!-- <div class="col-sm">
        <a class="btn btn-success mt-2" href={{getTeacherViewLink(false)}}>Ich habe mir das Passwort notiert.</a>
          </div> -->
      </div>
    </div>
  </div>
  <div></div>