.social-link {
    width: 30px;
    height: 40px;
    /* border: 1px solid #ddd; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    /* border-radius: 50%; */
    transition: all 0.3s;
    font-size: 1.3rem;
}

.social-link:hover {
    /* background-color: #ff4f6c; */
    color: #111111;
    transform: scale(1.3);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    /* border-color: #ff4f6c; */
  }

  /* .contributor-card{
      background-color: #D6DBDF
  } */